.photo-frame
{
	 width: 300px;
		border-color: blue;
		border-style: solid;
		margin: 10px;
		padding: 15px;
}

.student
{
	 border-width: medium;
}

#header
{
	background-color: lightgreen;
	font-weight: bold;
}
td,th
{
	padding: 10px;
	border: 1px solid black;
	
}
h1{
	border-radius: 6px;
}

	tbody tr:nth-child(even)
	{
		background-color: #f2f2f2;
	}
	
	tbody tr:nth-child(odd)
	{
		background-color: #ffffff;
	}